@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family : 'Clash Display';
    src : url('./assets/ClashDisplay-Variable.ttf');
}

@font-face {
    font-family : 'Panchang';
    src : url('./assets/Panchang-Variable.ttf');
}

@font-face {
    font-family : 'Satoshi';
    src : url('./assets/Satoshi-Variable.ttf');
}